@import "../utilities/vars";
@import "../utilities/mixins";

.get-started-btn {
  transition: all ease-in-out 0.2s;
  border-radius: 30px;
  padding: 5% 11%;
  @include cyan-btn-hover;
  @include cyan-btn-common;
}
