footer {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  text-align: center;
  color: white;
  background-color: $very-dark-violet;

  //   Left part
  .footer-left {
    margin-bottom: 2.2em;
    .shortly-txt {
      font-size: 36px;
      font-weight: nth(map-values($font-weights), 2);
    }
  }

  //   Center part
  .footer-center {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .footer-row {
      @include footer-flex;
      .footer-row-title {
        font-weight: nth(map-values($font-weights), 2);
      }
      .footer-row-items {
        @include footer-flex;
        padding: unset;
        li {
          cursor: pointer;
          &:hover {
            color: $cyan;
            transition: all ease-in-out 0.2s;
          }
        }
      }
    }
  }

  //   Right part
  .footer-right {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    & .social-media-icon-container > img {
      object-fit: cover;
      width: 30px;
      cursor: pointer;
      &:hover {
        filter: invert(60%) sepia(90%) saturate(404%) hue-rotate(119deg)
          brightness(100%) contrast(89%);
        transition: all ease-in-out 0.2s;
      }
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: 1219px) {
  footer {
    .footer-center {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1220px) {
  footer {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10em;
    padding: 0.3em 3em 3em 3em;
    .footer-center {
      flex-direction: row;
      gap: 4em;
      .footer-row {
        text-align: start;
      }
    }
  }
}
