@import "../utilities/mixins";
@import "../utilities/vars";

// Get started section //
.get-started-section {
  margin: 8px;
  display: flex;
  flex-direction: column-reverse;
  .get-started-left {
    margin: 2% 6% 20% 6%;
    .get-started-txt {
      @include grey-text;
    }
  }
  .get-started-right img {
    width: 100%;
  }
}

// Form section
.form-section {
  border-radius: 10px;
  margin: 0 auto;
  width: 85%;
  background: url("/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  .form-container {
    padding: 5%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    & > input {
      font-size: $default-font-size;
      border-color: transparent;
      border-radius: 10px;
      padding: 5% 9%;
      margin-bottom: -5px;
      & ::placeholder {
        color: $gray;
      }
    }
    & .error-msg {
      display: none;
    }
    & > button {
      transition: all ease-in-out 0.2s;
      border-radius: 10px;
      padding: 5% 9%;
      @include cyan-btn-common;
      @include cyan-btn-hover;
    }
  }
}

// Results section
.results-section {
  border-radius: 10px;
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  & .result-container {
    font-weight: nth(map-values($font-weights), 2);
    background-color: white;
    margin: 0.7em 0;
    & .link-original {
      text-align: start;
      overflow: auto;
      border-bottom: 1px solid rgba(220, 220, 220, 0.648);

      & p {
        padding: 0 5%;
        margin: 0.6em 0 0.5em 0;
      }
    }
    & .result-inner {
      padding: 5%;
      & .link-shortened {
        text-align: start;
        margin-bottom: 0.5em;
        & a {
          color: $cyan;
          text-decoration: none;
        }
      }
      & .copy-btn {
        width: 100%;
        border-radius: 10px;
        padding: 5% 9%;
        @include cyan-btn-common;
        @include cyan-btn-hover;
      }
    }
  }
}

// Adv statistics section
.adv-statistics-section {
  width: 85%;
  padding: 5%;
  margin-bottom: 50px;
  & p {
    @include grey-text;
  }
}

// Feature cards section
.feature-cards-section {
  width: 85%;
  padding: 5%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  & p {
    @include grey-text;
  }
  & .card-container {
    border-radius: 8px;
    & .card-hr {
      transform: rotate(90deg);
      background: $cyan;
      border: none;
      height: 7px;
      width: 118px;
      z-index: -2;
      position: relative;
      top: -42px;
    }
    & .card-hr-desktop {
      display: none;
    }
    z-index: 1;
    padding: 0 5%;
    background-color: white;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      border-radius: 50%;
      padding: 0.4rem;
      background-color: $dark-violet;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      position: relative;
      top: -65px;
      & h3 {
        font-weight: nth(map-values($font-weights), 2);
      }
    }
  }
}

// Boost today section
.boost-today-section {
  height: 20rem;
  background-image: url("/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  & > div {
    color: black;
    font-weight: nth(map-values($font-weights), 2);
  }
}

@media screen and (min-width: $tablet) {
  .get-started-section {
    margin: 3.5em 0;
    flex-direction: row;
    align-items: center;
    & h1 {
      margin: 0;
      font-size: 64px;
      line-height: 1.2;
    }
    .get-started-txt {
      margin: 10px 0 20px 0;
    }
    & .get-started-left {
      margin: 0;
      text-align: left;
      margin: 0 6%;
    }
  }
  h2 {
    font-size: 42px;
  }
  .form-section {
    & .form-container {
      position: relative;
      gap: 2rem;
      flex-direction: row;
      & p {
        position: absolute;
        top: 140px;
      }
      & input {
        margin-bottom: 0;
        width: 70%;
      }
      & button {
        width: 30%;
      }
      & button, input {
        padding: 2% 3%;
        font-size: 24px;
      }
    }
  }
  .adv-statistics-section {
    width: 45%;
    margin: 0 auto;
    padding-bottom: 2%;
  }
  .feature-cards-section {
    width: 86%;
    margin: 0 auto 15% auto;
    gap: 2.5rem;
    flex-direction: row;
    & .card-hr {
      display: none;
    }
    & .card-hr-desktop {
      display: block;
      background: hsl(180deg, 66%, 49%);
      border: none;
      height: 10px;
      width: 55vw;
      z-index: 0;
      position: absolute;
      top: 160px;
      left: -50px;
    }
    & .card-container {
      text-align: left;
  }
  }
  .second {
    position: relative;
    top: 55px;
  }
  .third {
    position: relative;
    top: 110px;
  }
}