@import "./vars";

/// Creates a uniform cyan hover color for the buttons
@mixin cyan-btn-hover {
  &:hover {
    background-color: lighten($cyan, 25);
  }
}

/// Creates a uniform style for all cyan buttons
@mixin cyan-btn-common {
  color: white;
  background-color: $cyan;
  font-weight: nth(map-values($font-weights), 2);
  cursor: pointer;
}

/// Creates the error style for the form
@mixin form-error {
  outline: 3px solid $red;
  &::placeholder {
    color: $red;
    opacity: 0.6;
  }
}

/// Creates uniform grey text
@mixin grey-text {
  color: $gray;
  font-weight: nth(map-values($font-weights), 2);
}

/// Creates a uniform flex for footer center
@mixin footer-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

// Creates uniform desktop nav flex
@mixin desktop-nav-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.6em;
}

// Creates uniform desktop nav items
@mixin desktop-nav-items {
  background: transparent;
  opacity: 0.7;
  transition: all ease-in-out 0.2s;
  &:hover {
    opacity: 1;
  }
}
